.container {
  width: 60%;
  margin: 20px auto;
  height: 100vh;
  background-color: #d4fadc;
  
  align-items: center;
}

div {
}

.header{
      background-color: #64f503;
      height: 10%;
}

.center{
  height: 80%;
  display: flex;
  justify-content: center;
}
.sidebar{
  background-color: #07e9e9;
  width: 30%;
}
.main{
  width: 80%;
}

.balance, .input, .history, .trbalance{
    height: 25%;
  display: flex;
  justify-content: center;
}

.trbalance{
   font-size: 1.5vw ;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.balance {
  font-size: 1.5vw ;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}


.trbalance{
  display: flex;
  justify-content: center;
}
.plus,
.minus {
  margin: 0 1rem;
  text-align: center;
}
.plus {
  color: #117926;
}

.minus {
  color: #f35829;
}

.transaction-list {
    padding: 0px;
  width: 90%;
  max-height: 15rem;
  overflow: hidden;
  overflow-y: auto;
}

.transactions h2 {
  
  color: brown;
  font-size: 1.8vw;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.transaction {
  font-size: 1.2vw;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
  color: #fff;
  padding: 0.4rem 0.4rem 0.4rem 0.7rem;
  border-radius: 0.3rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.transaction-text {
  width: 20rem;
}

.transaction-amount {
  transform: translateX(1.5rem);
}

.delete-btn {
  transform: translateX(-5rem);
  border: none;
  font-size: 1vw;
  margin: 0 1rem;
  color: #d4403e;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  outline: none;
}


.transactions-income .transaction {
  background-color: #5a9b67;
}

.transactions-expense .transaction {
  background-color: #cf5856;
}


.history{
  height: 50%;

}


.mainbalance, .trbalance, .income-input, .expense-input, .income-history, .expense-history {
  width: 50%;
}





.footer{
      background-color: #64f503;
      height: 10%;
}




.input-group {
  display: flex;
  flex-direction: row;
}

.input-group input:not([type="submit"]) {
  width: 10vw;
  margin-bottom: 1rem;
  border: ;
  background: transparent;
  padding: 0.5rem 0.5rem 0.5rem 0;
  font-size: 1.5vw;
  color: rgb(14, 13, 13);
  outline: none;
  transition: border-bottom 0.4s;
}

.income input:not([type="submit"]):focus {
  border-bottom: 0.2rem solid #77c987;
}

.expense input:not([type="submit"]):focus {
  border-bottom: 0.2rem solid #ff716e;
}

.input-group input[type="submit"] {
  width: 6vw;
  height: 2rem;
  padding: 0.2rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  font-size: 1.5vw;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: rgb(29, 27, 27);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 1rem;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.input-group input[type="submit"]:active {
  transform: translateY(0.3rem);
}
