.container {
        width: 800px;
        height: 600px auto;
        background-color: #a09e9e;
        margin: auto;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        grid-template-areas:
          "header header header"
          "sidebar balance box1"
          "sidebar box-1 box-2"
          "sidebar i-tr e-tr"
          "footer footer footer";
      }
      .container div {
        text-align: center;
        padding: 0.5rem;
        color: rgb(223, 15, 15);
        border: 1px solid black;
      }
      .header {
       grid-area: header;
      }

      .sidebar {
        grid-area: sidebar;
      }

      .balance {
        grid-area: balance;
        
      }
      .box-1 {
        grid-area: box-1;
      }
      .box-2 {
        grid-area: box-2;
      }
      .box-3 {
        grid-area: box-3;
      }
       .i-transaction {
        grid-area: i-tr;
      }
      .e-transaction {
        grid-area: e-tr;
      }
    
    
      .footer {
        grid-area: footer;

      } 

      .container {
        margin: 20px auto;
        
      }
